@model SurveyInfoTable

@using (Html.BeginForm("AddSurvey", "SurveyInfoTable", FormMethod.Post))
{
    <div class="form-group">
        <label for="name">Person Name</label>
        <input type="text" class="form-control" asp-for="surveyPersonName" id="name">
    </div>
    <div class="form-group">
        <label for="name">Risk Tolerance</label>
        <input type="text" class="form-control" asp-for="surveyRiskTolerance" id="name">
    </div>
    <div class="form-group">
        <label for="sector">Stock Id Ticker</label>
        <input type="text" class="form-control" id="sector" asp-for="stockIdTicker">
    </div>
    <div class="form-group">
        @*<label for="stockIdTicker">Stock Id Ticker Navigation</label>*@
        <input type="text" class="form-control" id="stockIdTicker" asp-for="stockIdTickerNavigation" hidden>
    </div>
    <div class="form-group">
        <label for="stockVolatility">Survey Amount</label>
        <input type="text" class="form-control" id="stockVolatility" asp-for="surveyAmount">
    </div>
    <div class="form-group">
        <label for="stockVolatility">Cryptos</label>
        <input type="text" class="form-control" id="stockVolatility" asp-for="surveyCryptoVsstocks">
    </div>
    <div class="form-group">
        <label for="stockVolatility">Industry</label>
        <input type="text" class="form-control" id="stockVolatility" asp-for="surveyIndustry">
    </div>
    <div class="form-group">
        @*<label for="stockVolatility">Info List</label>*@
        <input type="text" class="form-control" id="stockVolatility" asp-for="surveyInfoList" hidden>
    </div>
    <div class="form-group">
        <label for="stockVolatility">Survey Id</label>
        <input type="text" class="form-control" id="stockVolatility" asp-for="surveyInfoTableSurveyId">
    </div>

    <div class="form-group">
        <label for="stockVolatility">Survey Id</label>
        <input type="text" class="form-control" id="stockVolatility" asp-for="surveyId">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}

<script>

</script>
